<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mantra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mantra.activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mantra.activity.HomePageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.mantra.activity.SignInActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.mantra.activity.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>